<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="databaseConnections" type="Codentia.Common.Data.Configuration.DbConnectionConfiguration,Codentia.Common.Data"/>
  </configSections>
  <appSettings>
    <add key="CleardownDataThresholdSeconds" value ="2"/>
  </appSettings>
  <databaseConnections>
    <databases>
		<add name="test1">
			<sources>			  
			  <add runat="MIDEV01" server="MIDEV01" database="CETest1" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
			  <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="CETest1" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" />       
        <add runat="SRV02" server="SRV02" instance="BUILD" database="CETest1" user="adminuser" password="Bu1ld" />
        <add runat="SRV03" server="SRV03" instance="PROD" database="CETest1" user="adminuser" password="Pr0d" />
        <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="CETest1" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" />
      </sources>
		</add>
		<add name="test2">
			<sources>				
				<add runat="MIDEV01" server="MIDEV01" database="CETest2" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
				<add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="CETest2" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="CETest2" user="adminuser" password="Bu1ld" />
        <add runat="SRV03" server="SRV03" instance="PROD" database="CETest2" user="adminuser" password="Pr0d" />
        <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="CETest2" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" />
      </sources>
		</add>
		<add name="test3">
			<sources>				
				<add runat="MIDEV01" server="MIDEV01" database="CETest3" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
				<add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="CETest3" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="CETest3" user="adminuser" password="Bu1ld" />
        <add runat="SRV03" server="SRV03" instance="PROD" database="CETest3" user="adminuser" password="Pr0d" />
        <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="CETest3" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" />
      </sources>
		</add>
    <add name="test4">
      <sources>        
        <add runat="MIDEV01" server="MIDEV01" database="CETest4" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
        <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="CETest4" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="CETest4" user="adminuser" password="Bu1ld" />
        <add runat="SRV03" server="SRV03" instance="PROD" database="CETest4" user="adminuser" password="Pr0d" />
        <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="CETest4" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" />
      </sources>
    </add>
		<add name="master">
      <sources>        
        <add runat="MIDEV01" server="MIDEV01" database="master" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
        <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="master" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="master" user="adminuser" password="Bu1ld" />
        <add runat="SRV03" server="SRV03" instance="PROD" database="master" user="adminuser" password="Pr0d" />
        <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="master" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" />
      </sources>
    </add>
    <add name="testnofk">
      <sources>        
        <add runat="MIDEV01" server="MIDEV01" database="CETestNoFK" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
        <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="CETestNoFK" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="CETestNoFK" user="adminuser" password="Bu1ld" />
        <add runat="SRV03" server="SRV03" instance="PROD" database="CETestNoFK" user="adminuser" password="Pr0d" />
        <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="CETestNoFK" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" />
      </sources>
    </add>
    <add name="testwithfk">
      <sources>       
        <add runat="MIDEV01" server="MIDEV01" database="CETestWithFK" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
        <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="CETestWithFK" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="CETestWithFK" user="adminuser" password="Bu1ld" />
        <add runat="SRV03" server="SRV03" instance="PROD" database="CETestWithFK" user="adminuser" password="Pr0d" />
        <add runat="DESKTOP-3UI717B" server="DESKTOP-3UI717B" instance="SQLEXPRESS" database="CETestWithFK" user="adminuser" password="A2F6A11A-7D59-4052-ACF2-770FDC9B59F6" />
      </sources>
    </add>
    </databases>
  </databaseConnections>
</configuration>