<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="databaseConnections" type="Codentia.Common.Data.Configuration.DbConnectionConfiguration,Codentia.Common.Data"/>
  </configSections>
  <appSettings>
    <add key="CleardownDataThresholdSeconds" value ="2"/>
  </appSettings>
  <databaseConnections>
    <databases>
		<add name="test1">
			<sources>			  
			  <add runat="MIDEV01" server="MIDEV01" database="MITTest1" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
			  <add runat="CEDEV02" server="CEDEV02" instance="DEV2012" database="MITTest1" user="adminuser" password="E97A9F7D-6CA9-4909-8A5A-AE19BCFBEA57" />       
        <add runat="SRV02" server="SRV02" instance="BUILD" database="MITTest1" user="sa" password="Bu1ld" />
        <add runat="SRV03" server="." instance="PROD" database="MITTest1" user="sa" password="Pr0d" />
      </sources>
		</add>
		<add name="test2">
			<sources>				
				<add runat="MIDEV01" server="MIDEV01" database="MITTest2" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
				<add runat="CEDEV02" server="CEDEV02" instance="DEV2012" database="MITTest2" user="adminuser" password="E97A9F7D-6CA9-4909-8A5A-AE19BCFBEA57" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="MITTest2" user="sa" password="Bu1ld" />
        <add runat="SRV03" server="." instance="PROD" database="MITTest2" user="sa" password="Pr0d" />
      </sources>
		</add>
		<add name="test3">
			<sources>				
				<add runat="MIDEV01" server="MIDEV01" database="MITTest3" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
				<add runat="CEDEV02" server="CEDEV02" instance="DEV2012" database="MITTest3" user="adminuser" password="E97A9F7D-6CA9-4909-8A5A-AE19BCFBEA57" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="MITTest3" user="sa" password="Bu1ld" />
        <add runat="SRV03" server="." instance="PROD" database="MITTest3" user="sa" password="Pr0d" />
      </sources>
		</add>
    <add name="test4">
      <sources>        
        <add runat="MIDEV01" server="MIDEV01" database="MITTest4" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
        <add runat="CEDEV02" server="CEDEV02" instance="DEV2012" database="MITTest4" user="adminuser" password="E97A9F7D-6CA9-4909-8A5A-AE19BCFBEA57" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="MITTest4" user="sa" password="Bu1ld" />
        <add runat="SRV03" server="." instance="PROD" database="MITTest4" user="sa" password="Pr0d" />
      </sources>
    </add>
		<add name="master">
      <sources>        
        <add runat="MIDEV01" server="MIDEV01" database="master" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
        <add runat="CEDEV02" server="CEDEV02" instance="DEV2012" database="master" user="adminuser" password="E97A9F7D-6CA9-4909-8A5A-AE19BCFBEA57" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="master" user="sa" password="Bu1ld" />
        <add runat="SRV03" server="." instance="PROD" database="master" user="sa" password="Pr0d" />
      </sources>
    </add>
    <add name="testnofk">
      <sources>        
        <add runat="MIDEV01" server="MIDEV01" database="MITTestNoFK" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
        <add runat="CEDEV02" server="CEDEV02" instance="DEV2012" database="MITTestNoFK" user="adminuser" password="E97A9F7D-6CA9-4909-8A5A-AE19BCFBEA57" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="MITTestNoFK" user="sa" password="Bu1ld" />
        <add runat="SRV03" server="." instance="PROD" database="MITTestNoFK" user="sa" password="Pr0d" />
      </sources>
    </add>
    <add name="testwithfk">
      <sources>       
        <add runat="MIDEV01" server="MIDEV01" database="MITTestWithFK" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
        <add runat="CEDEV02" server="CEDEV02" instance="DEV2012" database="MITTestWithFK" user="adminuser" password="E97A9F7D-6CA9-4909-8A5A-AE19BCFBEA57" />
        <add runat="SRV02" server="SRV02" instance="BUILD" database="MITTestWithFK" user="sa" password="Bu1ld" />
        <add runat="SRV03" server="." instance="PROD" database="MITTestWithFK" user="sa" password="Pr0d" />
      </sources>
    </add>
    </databases>
  </databaseConnections>
</configuration>